<!DOCTYPE html>
<html>

<head>
  <title>Roux Meetups--Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
  <link rel='stylesheet' href='./css/style.css' />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
</head>

<body>
  <%- include('./layout/header.ejs')%>
  <article class="speakerslist jumbotron hidden-xs">
    <div class="container">
      <div class="row">
     <% speakerList.forEach((speaker) => { %>
        <div class="col-sm-4 text-center">
          <h3 class="speakerslist-title"><%=speaker.title%></h3>
          <h5 class="speakerslist-name">with
            <a href="/speakers/<%=speaker.shortname%>"><%=speaker.name%></a>
          </h5>
          <p class="speakerslist-info">
            <a href="/speakers/<%=speaker.shortname%>">
              <img class="speakerslist-img img-circle" src="./images/speakers/<%=speaker.shortname%>_tn.jpg" alt="Photo of <%=speaker.name%>">
            </a>
            </a>
            </a>
          </p>
        </div>
      <%}) %>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </article>
  <div class="container" id="home">
    <div class="row">
      <div class="col-sm-8">
        <div class="maincontent">
          <article class="article">
            <h1 class="article-title"><%=homecontent.header.title%></h1>
            <%-homecontent.header.content%>
          </article>
          <!-- article -->
          <article class="article">
            <h1 class="article-title"><%=homecontent.connect.title%></h1>
            <p>If you want to keep up with what's going on with the group,
              <a href="http://www.meetup.com/rouxmeet">join our meetup group</a>,
              <a href="http://www.twitter.com/rouxmeet">follow us on twitter</a>. If you're in FaceBook, you can also
              <a href="http://www.facebook.com/rouxmeet">join our FaceBook group</a>.</p>
          </article>
        </div>
      </div>
      <!-- primary -->
      <aside class="col-sm-4">
        <article class="sidebar">
          <h1 class="sidebar-title">Who should come?</h1>
          <ul class="sidebar-body">
            <li>Anybody interested in art and the creative industry</li>
            <li>Painters, sculptors, photographers and graphic artists</li>
            <li>Those interested in meeting and making a connection with others in the local art scene.</li>
          </ul>
        </article>
        <!-- article -->
        <article class="sidebar">
          <h1 class="sidebar-title">Artwork on display</h1>
          <p class="sidebar-body">While you attend the conference, head over to our gallery where you can check out some of the work from our speakers.</p>
          <div class="pixgrid clearfix">
            <%allArtwork.forEach((artwork,index) => {%>
                <img src="./images/artwork/<%=artwork%>" alt="Artwork <%=index%>">
            <%})%>
          </div>
        </article>
      </aside>
      <!-- secondary -->
    </div>
  </div>
  <!-- container -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
  <script src="./js/pixgrid.js"></script>
</body>

</html>